
<div class="container">
  <div [hidden]="submitted">
    <h1>Новая задача</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]='todoForm' >
        <label for="name">Наименование задачи</label>
        <input type="text" class="form-control" formControlName='name' required>        

        <label for="customer">Заказчик</label>
        <input type="text" class="form-control" formControlName='customer'>

        <label for="technology">Используемые технологии</label>
        <input type="text" class="form-control" formControlName='technology'>

        <label for="description">Описание</label>
        <input type="text" class="form-control" formControlName='description'>

        <div class="new-button">
            <button type="submit" class="btn btn-success" [disabled]="!todoForm.valid">Добавить</button>
            <button type="button" class="btn btn-default" (click)="newTodo(); todoForm.reset()">Создать новую задачу</button>
        </div>

    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Добавлено следующее:</h2>

    <div class="row">
      <div class="col-xs-3">Номер задачи</div>
      <div class="col-xs-9">{{ todoForm.name }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Название задачи</div>
      <div class="col-xs-9">{{ todoForm.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Заказчик</div>
      <div class="col-xs-9">{{ todoForm.customer }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Используемые технологии</div>
      <div class="col-xs-9">{{ todoForm.technology }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Редактировать</button>
  </div>
</div>


