<div *ngIf="todo">
    <h2>Информация о задаче: {{todo.name | uppercase}} </h2>
    <div><span>id: </span>{{todo.id}}</div>
    <form>
        <label>Название
            <input type="text" class="form-control" [(ngModel)]="todo.name" placeholder="name"/>
        </label>
        <label>Используемые технологии
            <input type="text" class="form-control" [(ngModel)]="todo.technology" placeholder="technology"/>
        </label>
        <label>Описание
            <input type="text" class="form-control" [(ngModel)]="todo.description" placeholder="description"/>
        </label>
        <label>Заказчик
            <input type="text" class="form-control" [(ngModel)]="todo.customer" placeholder="customer"/>
        </label>

        <button (click)="goBack()">Вернуться на список задач</button>
        <button (click)="save()">Сохранить</button>
    </form>
</div>


